.home-landing {
  position: relative;
  background: url("../images/mountain.jpg");
  background: url("../images/mountain2.png");
  background: url("../images/mountain3.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 93vh;
}

.home-landing-text-container {
  width: 800px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.home-landing-text-container h2 {
  font-size: 5rem;
  line-height: 0.9;
  margin: 1.5rem 0;
}
.home-landing-text-container p {
  font-size: 1.1rem;
  margin-top: 0;
}

button {
  background: rgba(0, 0, 0, 0);
  border: 2px solid var(--color-dark);
  padding: 1rem 1.5rem;
  border-radius: 50px;
  font-size: 1rem;
  transition: all 0.3s;
  margin: 1rem 0;
}
button:hover {
  background: var(--color-dark);
  color: var(--color-light);
}

/* .socials {
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%) rotate(-90deg);
}

.socials > div {
  margin-left: 70px;
} */

.scroll-down-indicator {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 4rem;
}

.recent-trips {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.recent-trips h2 {
  font-size: 2.5rem;
}

.recent-trips-card-container {
  display: flex;
  justify-content: space-evenly;
  width: 1136px;
  margin-top: 1rem;
  padding-bottom: 6rem;
  border-bottom: 2px dotted black;
}
.recent-trips-card {
  position: relative;
  background: var(--color-light);
  height: 350px;
  width: 250px;
  transition: all 0.3s;
}
.recent-trips-card::after {
  content: " ";
  height: 75px;
  width: 50px;
  background: black;
  position: absolute;
  bottom: 30px;
  left: 100%;
}
.recent-trips-card::before {
  content: "→";
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  height: 75px;
  width: 50px;
  background: black;
  position: absolute;
  z-index: 5;
  bottom: 30px;
  left: 100%;
  left: 75%;
  opacity: 0;
  transition: all 0.2s;
}

.recent-trips-card-text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 30px;
  background: black;
  height: 75px;
  width: 60%;
  padding: 0 1.5rem;
  z-index: 3;
  transition: all 0.3s;
}
.recent-trips-card-text-container h2 {
  font-size: 1.7rem;
  margin: 0;
  color: var(--color-light);
}
.recent-trips-card-text-container p {
  font-size: 1.1rem;
  margin: 0;
  color: var(--color-light-accent);
}
.recent-trips-card img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  transition: all 0.3s;
  object-fit: cover;
}
.recent-trips-card-container:hover .recent-trips-card {
  opacity: 0.5;
}
.recent-trips-card-container:hover .recent-trips-card:hover {
  opacity: 1;
}
.recent-trips-card:hover .recent-trips-card-text-container {
  width: 100%;
}
.recent-trips-card:hover::before {
  opacity: 1;
  left: 100%;
}

.info-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.info-banner-text-container {
  width: 800px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.info-banner-text-container h2 {
  font-size: 2.5rem;
  line-height: 0;
}

.info-banner-text-container p {
  font-size: 1.2rem;
}

.info-banner-card-container {
  display: flex;
  width: 1136px;
  margin: auto;
  justify-content: center;
}

.info-banner-card {
  width: 300px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-banner-card img {
  height: 70px;
  width: 70px;
  margin-bottom: 1rem;
  background-size: cover;
}

.info-banner-card h2 {
  margin-bottom: 0;
  line-height: 0.5;
}

.info-banner-card p {
  margin-top: 1rem;
}

.info-banner-2 {
  background: var(--color-dark);
  color: var(--color-light);
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.info-banner-2 p {
  color: var(--color-light-accent);
}

.info-banner-card-number-container {
  display: flex;
  justify-content: space-evenly;
  width: 700px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.info-banner-card-number {
  margin: 20px;
  line-height: 0.6;
  text-align: center;
}

.info-banner-card-number h2 {
  font-size: 2.3rem;
}

.info-banner-card-number p {
  color: var(--color-light-accent);
}

.info-banner-card-photo {
  width: 300px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-photo-icon {
  position: relative;
  height: 250px;
  width: 250px;
  background: var(--color-dark-accent);
  /* background: blue; */
  /* background: url(../images/portrait1.png); */
  /* background-size: cover; */
  margin-bottom: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card-photo-icon img {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}
.social-button-container {
  position: absolute;
  z-index: 2;
  width: 90%;
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.3s;
}
.social-button-container img {
  position: relative;
  height: 40px;
  width: 40px;
  object-fit: cover;
  margin: 5px;
}
.card-photo-icon:hover .social-button-container {
  opacity: 0.8;
  transform: scale(1);
}

.info-banner-card-photo h2 {
  margin-bottom: 0;
  line-height: 0.5;
}

.info-banner-card-photo p {
  margin-top: 1rem;
}

.image-divider {
  background: url("../images/forrestMountain3.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
}

.info-banner-testimonial-container {
  display: flex;
  width: 1000px;
  margin: 2rem auto;
}

.info-banner-testimonial-container h2 {
  line-height: 0rem;
  /* font-size: 1.3rem; */
}
.info-banner-testimonial-container h3 {
  line-height: 0rem;
  font-size: 1.2rem;
}
.info-banner-testimonial-container p {
  margin-top: 0;
  margin-bottom: 1.2rem;
}

.testimonial-image-container {
  width: 100px;
  height: 100px;
  margin: 0 30px;
}

.testimonial-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  background: url('../images/portrait1.png');
  background-size: cover;
  background-position-y: -10px;
}

.ratings {
  display: flex;
  flex-direction: row;
  width: 800px;
  flex-wrap: wrap;
}

.rating {
  display: flex;
  align-items: center;
  padding: 0rem 0.5rem;
  width: 325px;
  position: relative;
}
.rating:nth-of-type(even) {
  margin-left: 100px;
}

.rating-line-container {
  display: flex;
  position: absolute;
  right: 0;
}

.rating-line {
  background: var(--color-light-accent);
  height: 6px;
  width: 30px;
  margin: 0 2px;
}
.rating-line.filled {
  background: var(--color-dark);
}

.rating-line:first-of-type {
  margin-left: 50px;
}

.contact-banner {
  background: url("../images/hawaii3.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.wrapper {
  position: relative;
  width: 1136px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: right;
}

.contact-container {
  position: relative;
  width: 400px;
  height: 600px;
  background: var(--color-light);
  text-align: left;
  padding: 20px 30px;
  padding-bottom: 50px;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%);
}
.contact-container h2 {
  margin-bottom: 0;
  font-size: 1.5rem;
  color: var(--color-dark);
}
.contact-container p {
  margin-top: 0;
  font-size: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

label {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  color: var(--color-dark-accent);
  font-family: var(--font-secondary);
  font-weight: 600;
}

input {
  width: 95%;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0.7rem;
  border: 1px solid var(--color-light-accent);
  border-radius: 5px;
}

input:focus {
  border-color: var(--color-dark-accent);
}

footer {
  background: black;
  padding-top: 4rem;
  padding-bottom: 5rem;
}
footer h2 {
  color: var(--color-light);
  font-size: 1.4rem;
}
footer p {
  color: var(--color-light-accent);
}

.footer-wrapper {
  width: 1136px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.contact-detail {
  display: flex;
  align-items: center;
}

.footer-icon {
  height: 25px;
  width: 25px;
  margin-right: 15px;
}

.footer-recent-trips-image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-recent-trips-image {
  height: 75px;
  width: 75px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.socials-container {
  display: flex;
  justify-content: center;
}
.socials-container img {
  height: 40px;
  margin: 0.7rem 0.5rem;
}